*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  box-sizing: border-box;

}
body{
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-content: center;  
}
header{
  padding: 7px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #0cae78;
}
.container{
  margin: 40px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
}
.card{
 width: 250px;
 padding: 12px;
 margin: 12px;
 height: fit-content;
 background-color: #ebe9e9;
 box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
 border-radius: 12px;
 cursor: pointer;
 overflow-y: visible;
}
.card:hover{
transform: scale(1.08);
}
.card img{
  width: 100%;
  height: fit-content;
  object-fit: contain;
}
.card h3{
  color: #000000;
  opacity: 0.5;
}
.card p{
  text-transform: capitalize;
  color: #000000;

}
.card button{
  padding: 10px;
  width: 95%;
  color: #ffffff;
  background-color:#0cae78 ;
  border: none;
   border-radius: 12px;
   cursor: pointer;
}
.card button:hover{
 background-color: #e8b24c;
 color: #ffffff;
}
footer{
  padding: 7px;
  background-color: #0cae78;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:fit-content;
}
  
